# Linux output
*.o
*.a
*.so

# HashDB databases
*.dbb
*.dbo

# Visual Studio configuration
*.sdf
*.suo
*.vcxproj.user
build/ipch

# Visual Studio output
*.exe
*.lib
*.pdb
*.idb
*.obj
*.tlog
*.log
*.lastbuildstate
*.vcxprojResolveAssemblyReference.cache
*.ipch
*.ilk
