# Linux output
*.o
*.a
*.so

# HashDB databases
*.dbb
*.dbo

# BDB 1.86 databases for benchmarking
db_btree
db_hash

# Visual Studio configuration
*.sdf
*.suo
*.opensdf
*.vcxproj.user
build/ipch

# Visual Studio output
*.exe
*.lib
*.pdb
*.obj
Debug/
Release/
x64/
x86/
ipch/

# Other
__pycache__/
build/generated/runner.cpp
